<h1><span>style gallery</span></h1>
<ul class="gallery">
	<% favoriteStyles.forEach((style) => { %>
	<li>
		<a href="styles/<%=style.styleSlug%>" name="<%=style.styleSlug%>">
			<img src="/<%=style.imageURL%>" alt="<%=style.description%>">
		</a>
	</li>
	<% }) %>
</ul>
</div>
