<h1><span>Login</span></h1>
<h2>Admin Login:</h2>
<p>Email: jonnygman427@gmail.com</p>
<p>Password: 123456789 </p>
<form action="/login" method="POST">
	<input type="email" name="email" id="email" placeholder="email" required>
	<input type="password" name="password" id="password" placeholder="password">
	<input type="submit" name="send" id="send" value="Login">
</form>
<p>Dont have an account?</p>
<a href="/register">Register Here</a>
</div>