<h1><span>Add A New Style</span></h1>
<form action="/styles/new-style" encType="multipart/form-data" method="POST">
	<input type="title" name="title" id="title" placeholder="title" required>
	<input type="file" name="imageUrl" id="imageUrl" placeholder="image">
	<textarea name="description" id="description" placeholder="DESCRIPTION" required></textarea>
	<input type="submit" name="send" id="send" value="Add New Style">
</form>
</div>
