<h1><span>NBA Player stats</span></h1>

<form action="/getPlayerStats" method="get">
    <label for="team-name">Enter Team Name:</label>
    <input type="text" id="team-name" name="teamName" placeholder="Warriors" required>
    <button type="submit">Get Team Info</button>
</form>

